#footer {
    padding: 50px 0 20px;
    background: #fff;
    margin: 20px;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #f0aa1f;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#f0aa1f, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px;
}

.footer-row p {
    line-height: 35px;
}

.footer-left .fa,
.footer-right .fa {
    font-size: 20px;
    color: #f0aa1f;
    margin: 10px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #f0aa1f;
    margin: 40px 5px 0;
    color: #f0aa1f;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fa:hover {
    background-color: #f0aa1f;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (max-width: 770px) {
    .footer {
        margin: 20px;
    }
    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img {
        top: 25%;
    }
}