.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-around;
  margin: 30px auto;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:15px;
    box-sizing: border-box;
  }
}
